<%- include ("partials/header") -%>
        <form action="/" method="post">
            <label for="weight">Weight</label>
            <input type="text" name="weight">
            <label for="height">Height</label>
            <input type="text" name="height">
            <button type="submit">Calculate</button>
        </form>
        <p>Please enter your weight (kg) and height (cm)</p>
<%- include ("partials/footer") -%> 